.container::before {
 content: '[';
}
.container::after {
 content: ']';
}
.container::before,  .container::after{
    color: var(--light-color);
    font-size: 2.5rem;
    font-weight: 800;
}

.tech-item:not(:last-child):after {
    content: ',';
    color: var(--light-color);
    font-size: 2.5rem;
}

