@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2C3E50;
  --secondary-color: #2980B9;
  --accent-color: #33CCCC;
  --light-color: #ECF0F1;
}
main {
  background-color: var(--light-color);
}

.svg-shadow {
  filter: drop-shadow(0 10px 0 var(--accent-color));
}

[class*="contenedor"] {
  width: min(70%, 120rem);
  margin: 0 auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--light-color); 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color); 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color); 
}

.btn::before {
  content: '<';
}
.btn::after {
  content: '/>';
}

.btn::before,  .btn::after{
  color: var(--accent-color);
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 800;
}