@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2C3E50;
  --secondary-color: #2980B9;
  --accent-color: #33CCCC;
  --light-color: #ECF0F1;
}

[class*="contenedor"] {
  width: min(70%, 120rem);
  margin: 3rem auto;
}

